@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --red-color:#A40101;
    --acuamarine-color:rgb(44, 162, 170);
    --silver-color:#ac9e9e;
    --silver2-color:#d3d3d3;
    --silver3-color:#6d6d6d;
    --white-color:#FFFFFF;
    --orange-color:#F3610E;
    --orange2-color:#c45414;
    --blue-color:#1D1B45;
    --blue2-color:#2b6c8a;
    --blue3-color: #32a6bb;
    --blue4-color:#050c25;
    --black-color:#000000;
}

.encabezado{
    display: flex;
    margin: 5px;
    justify-content:end;
    margin: 1rem;
    margin-right: 50px;
}

.phone{
    padding: 5px;
    padding-right: 6rem;
}

.phone i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 8px;
}

.phone p{
    padding-left: 50px;
    position: relative; bottom: 1rem;
    
}

.location{
    padding: 5px;
    padding-right: 5rem;
}

.location i{
    color: var(--white-color);
    background-color:var(--orange2-color);
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    border: 4px solid var(--orange2-color);
    box-shadow: 2px 2px 4px var(--black-color);
    font-size: 8px;
    position: relative; right: 50px;
}

.location p{
    padding-left: 50px;
   
    
}
.head2{
    display: flex;
}

.logo{
    display: flex;
    padding: 8px;
    margin-right: 8rem;
}

.logo img{
    max-width: 250px;
    width: 100%;
    top: 70px;
    margin-left: 5rem;
    padding-top: 15px;   
} 

.line{
    padding-top: 1.5rem;
    justify-items: end;
    justify-content: right;
}

.line img{
    max-width: 50rem;
}

.head2 i{
    color:var(--orange2-color);
    font-size: 40px;
    padding: 7px;
    padding-bottom: 20px;

}
.botones{
    left: 88rem;
    bottom: 7rem;
    margin-right: 80px;
}

.bot-1{
    font-size: 14px;
    background-color: var(--blue2-color);
    border-radius: 35px; 
    border: 3px solid var(--blue2-color);
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
    height: 35px;
}

.bot-1:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);

}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.txt-banner{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#banner{
    display: flex;
    height: 600px;
    max-width: 100%;
    background-image: url(../img/2.\ medico.png);
    background-size:contain;
    background-repeat: no-repeat;
}


.txt-banner{
    text-align: center;
    margin-top: 300px;
    margin-left: 50px;  
}
.txt-banner h3{
    font-size: 45px;
    color: var(--orange-color);
    font-weight: 400;
}

.txt-banner h4{
    font-size: 48px;
   text-align: center;
    color: var(--black-color);
    font-weight: 300;
}

.bot-1{
    margin-top: 20px;
}

.franja-inicio{
    width: 100%;
    padding-top: 400px;   
}


#contain{
    background-image: url(../img/4.\ covid.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 420px;
    display: flex;
    margin-top: -65px;
}

.signos{
    flex-basis: 50%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.signos i{
    color: var(--red-color);
    padding: 8px;
    font-size: 25px;
}

.signos ul{
    list-style: none;
    margin-left: 60px;
}

.signos h2{
    color: var(--blue2-color);
    font-weight: 500;
}

.signos li{
    font-weight: 400;
}


.signos-2{
    flex-basis: 50%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.signos-2 img{
    position: relative; left: 12rem;
    width: 150px;
}

.signos-2 i{
    color: var(--red-color);
    font-size: 25px;
    margin-right: 10px;
}

.signos-2 h2{
    color: var(--blue2-color);
    font-weight: 500;
}
.signos-2 p{
    padding: 30px;
    text-align: justify;
    line-height: 25px;
}

#services {
    background-color: #08071a;
    padding: 0.1rem;
    margin-bottom: 1rem;
    
}

#services p{
    padding: 1rem 0;
    padding-left: 0.5rem;
    border-bottom: 10px solid var(--white-color);
    color: var(--white-color);
    font-size: 16px;
    
}

footer{
    background-color: black;
    padding: 3rem;
    text-align: center;
}

footer p{
    color: var(--white-color);
    text-align: center;
}

/*------------Login--------------*/

#login{
    background-image: url(../img/10.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.acceso img{
    width: 220px;
    margin-bottom: 2rem;
}

.acceso p{
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 162, 170, 0.3);
    align-items: center;
    width: 400px;
    padding: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;  
}

.acceso{ 
    align-items: center;  
    background-color: var(--white-color);
    max-width: 400px;
    width:100%;
    border-radius: 15px;
    box-shadow: 1px 1px 2px var(--black-color);
    
}

.form-group{
    margin-bottom: 5px;
    width: 400px;
    text-align: center;  
}

.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}

.form-input{
    border: 2px solid rgba(44, 162, 170, 0.2);
    padding: 0.3rem;
    outline: none;
    border-radius: 15px;
    background-color: rgba(44, 162, 170, 0.1);
    margin-top: 8px;
}

.form-recordar{
    text-align: center;
    color: var(--blue-color);
    font-size: 0.9rem;
}

.form-input:focus{
    border: 3px solid var(--acuamarine-color);
}

.form-input::placeholder{
    font-size: 0.8rem;
}

.but-1{
    background-color:var(--blue-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border-color: var(--acuamarine-color);
    cursor: pointer;
    margin-bottom: 10px;
    position: relative; left: 8rem;
}

.but-2{
    background-color:var(--orange2-color);
    color: var(--white-color);
    padding: 0.3rem;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 8px;
    border-color: var(--acuamarine-color);
    cursor: pointer;
    margin: 15px;
    position: relative; left: 120px;

}

/*---------------Dashboard----------------*/

#dashboard{
    display: flex;
    background-color: rgba(231, 231, 231, 0.863);
}

.box{
    background-color: #0b0a22;
    display: flex;
    flex-basis: 20%;
    text-align: center;
    padding-bottom: 10rem;
    flex-direction:column;
    padding-bottom: 14rem;
    height: 100%;
}

.logo2 img{
    max-width: 200px;
    margin-left: 20px;
    margin-top: 40px;
}

.buttons{
    margin-top: 60px;
} 


.btn-dash{
    width: 262px;
    height: 55px;
    margin-top: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--orange2-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    background-color: #cfcfcf;
}

.btn-dash i{
    color:var(--blue-color);
    font-size: 20px;  
}

.btn-dash:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    cursor: pointer;
}
.box-2{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;   
}

.user{
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 53rem;
    background: linear-gradient(to bottom, gray, white); 
    
}

.user i{
    background-color: var(--white-color);
    border: solid var(--orange2-color);
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 16px ;
    margin-right: 10px;
}

.box-2 h1{
    text-align: center;
    color: var(--orange2-color);
    font-weight: 500;
    font-size: 35px;
}

.search{
    text-align: center;
}

.form-doc{
    background-color: transparent;
    border-bottom: solid var(--blue-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-right: 15px;
}

.search i{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: solid rgb(55, 185, 236);
    border-radius: 8%;
    padding: 5px 15px;
    font-size: 16px ;
    margin-right: 10px;
}
.img-forja1{
    text-align: end;
    opacity: 30%;
    transform: rotate(10deg);
    position: relative; top: 0.4px;
    margin-right: 20px;   
}

.franja2 img{
    width: 100%;
    margin-top: -28px;
    margin-bottom: -51px;  
}

/*------ Alerta Dashboard........*/

#dashboard2{
    display: flex;
    background-color: rgba(231, 231, 231, 0.863);
    opacity: 40%; 
}

.box{
    background-color: #0b0a22;
    display: flex;
    flex-basis: 20%;
    text-align: center;
    padding-bottom: 10rem;
    flex-direction:column;
    padding-bottom: 270px;
    height: 100%;
}

.logo2 img{
    max-width: 200px;
    margin-left: 20px;
    margin-top: 40px;
}

.buttons{
    margin-top: 60px;
} 


.btn-dash{
    width: 262px;
    height: 55px;
    margin-top: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--orange2-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    background-color: #cfcfcf;
}

.btn-dash i{
    color:var(--blue-color);
    font-size: 20px;  
}

.btn-dash:hover{
    color: var(--white-color);
    background-color:var(--orange2-color);
    cursor: pointer;
}
.box-2{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;   
}

.user{
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 53rem;
    background: linear-gradient(to bottom, gray, white); 
    
}

.user i{
    background-color: var(--white-color);
    border: solid var(--orange2-color);
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 16px ;
    margin-right: 10px;
}

.box-2 h1{
    text-align: center;
    color: var(--orange2-color);
    font-weight: 500;
    font-size: 35px;
}

.search{
    text-align: center;
}

.form-doc{
    background-color: transparent;
    border-bottom: solid var(--blue-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-right: 15px;
}

.search i{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: solid rgb(55, 185, 236);
    border-radius: 8%;
    padding: 5px 15px;
    font-size: 16px ;
    margin-right: 10px;
}
.img-forja1{
    text-align: end;
    opacity: 30%;
    transform: rotate(10deg);
    position: relative; bottom: 50px;
    margin-right: 20px;   
}

.franja2 img{
    width: 100%;
    margin-top: -28px;
    margin-bottom: -87px;  
}

.alert{
    border: 2px solid var(--silver-color);
    border-radius: 8px;
    width: 400px;
    height: 250px;
    padding: 18px;
    background-color: var(--white-color);
    z-index: 5;
    position: absolute; margin-top: 140px; margin-left: 500px;
}

.alert img{
    width: 200px;
    margin-left: 60px;
    margin-top: 30px;
}

.buttons2{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.btn-alert1{
    background-color: var(--orange2-color);
    color: var(--white-color);
    width: 100px;
    height: 40px;
    padding: 6px;
    border-radius: 8%;
    border: 0.8px solid var(--silver-color);
}

.btn-alert2{
    background-color: rgb(32, 32, 99);
    color: var(--white-color);
    width: 100px;
    height: 40px;
    padding: 6px;
    border-radius: 8%;
    border: 0.8px solid var(--silver-color);
}

.alert p{
    font-size: 23px;
    text-align: center;
    color: rgb(99, 89, 89);
}

/*-------------Pacientes-----------*/


.forja_head{
    background-color: rgb(43, 43, 44);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.forja_head img{
    width: 240px;
    height: 60px;
    margin: 5px;
}

.icons_pacientes{
    margin-right: 15px;
}

.forja_head i{
    font-size: 22px;
    color: var(--black-color);
    background-color: rgb(204, 202, 202);
    border-radius: 50%;
    border: solid var(--blue2-color);
    padding: 0.5rem 0.5rem;
    margin-right: 10px;
}

.franja3 img{
    width: 100%;
    border-bottom: 4px solid var(--blue2-color);
    
}

.buttons_pacientes{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 6rem;
    margin-right: 4.5rem;
    margin-top: 60px;

}

.btn_table{
    width: 110px;
    height: 35px;
    font-size:12px;
    font-weight: 600;
    background-color: var(--orange2-color);
    border-radius: 10px;
    color: var(--white-color);
    border: solid var(--orange2-color);
}

.btn_table i{
    font-size: 15px;
    margin-left: 5px;
}

.search_2 i{
    font-size: 17px;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 6px 15px;
    border: solid var(--blue3-color);
    border-radius: 8px;
}

.form-table{
    border-radius: 10px;
    border: 2px solid var(--blue3-color);
    padding: 5px;
}

.text_pacientes{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: var(--blue2-color) underline; 
}


.table table, th, td{
    border-collapse: collapse;
    border: 2px solid var(--blue3-color);
    padding: 0.5rem 3rem;
    margin: 30px;
    margin-left: 5.8rem;
    margin-bottom: 5rem;
    background-color: #c4c4c4;
}

th{
    background-color: var(--blue4-color);
    color: var(--white-color);
    padding: 15px;
    font-size: 14px;
}

td{
    font-size: 14px;
    text-align: center;
}

.btn2table{
    background-color: var(--blue3-color);
    width: 83px;
    height: 25px;
    border-radius: 5px;
    border: solid var(--blue3-color);
    font-weight: 500;
    padding-bottom: 1.5rem;
    margin-right: 8px;
}

.btn2table i{
    margin-left: 5px;
}

.btn3_table{
    background-color: var(--red-color);
    width: 83px;
    height: 25px;
    border-radius: 5px;
    border: solid var(--red-color);
    font-weight: 500;
    color: var(--white-color);
    padding-bottom: 1.5rem;
}

.btn3_table i{
    margin-left: 5px;
}

.foot_2{
    padding: 1rem;
    font-size: 12px;
}

/*-----------Formulario------------*/

#new_user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle_registrer_form{
    border: solid var(--blue-color);
    display: flex;
    margin: 30px 30px;
    margin-bottom: 25px;
    justify-content: center;
    background-color: var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    font-weight: 300;
    font-size: 30px;

}

.registrer_form{
    background-color: var(--silver2-color);
    border: 2px solid var(--silver-color);
    border-radius: 15px;
    padding: 20px;
}

.form_border{
    border: 2px solid var(--silver-color);
    padding: 3rem;
    margin-bottom: 1rem;

}

.data_date input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 210px;
    height: 42px;
    color: var(--silver-color);
    font-size: 15px;
    margin-top: 1rem;
    padding-left: 8px;   
}

.tittle_data{
    background-color: var(--blue3-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.8rem 0;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--blue2-color);  
}

.tittle_data h2{
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    margin: 0.3rem auto;
}

.tittle_data i{
    margin-left: 1.5rem;
    font-size: 22px;
    
}

.data_patient input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 500px;
    height: 42px;
    margin: 20px;
    margin-left: 30px;
    color: var(--silver-color);
    font-size: 15px;
    padding-left: 8px;


}

.data_patient select{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 500px;
    height: 42px;
    margin: 20px;
    margin-left: 30px;
    color: var(--silver-color);
    font-size: 15px;
    padding-left: 10px;
}

.data2_patient select{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 330px;
    height: 42px;
    margin: 20px;
    color: var(--silver-color);
    font-size: 15px;
    margin-right: 10px;
    padding-left: 8px; 
}

.data2_patient input{
    border: 2px solid var(--blue3-color);
    border-radius: 5px;
    width: 330px;
    height: 42px;
    margin: 20px;
    color: var(--silver-color);
    font-size: 15px;
    margin-right: 10px;
    padding-left: 8px; 
  
}

.text_prueba{
    font-size: 15px;
    color: var(--silver3-color);
}

.test-covid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 20px 20px;
    align-items: center;
}

.test-covid input{
    margin: 10px;
}

.btn_save{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn_save button{
    width: 150px;
    height: 40px;
    background-color: var(--orange2-color);
    border-radius: 10px;
    border: solid var(--orange2-color);
}

.btn_save a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;


}




/*.box{
    background-color: #0b0a22;
    display: flex;
    flex-basis: ;
    justify-content: center;      
}

.logo2 img{
    max-width: 200px;
    margin-left: 20px;
    margin-top: 80px;
}

.buttons{
    
}

.btn-dash{
    width: 250px;
    height: 55px;
    margin-top: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--orange2-color);
    border-radius: 10px;
}

.btn-dash i{
    color:var(--blue-color);
    font-size: 20px;
   
}


.box-2{
    display: flex;
    flex-basis: 80%;
    
    justify-content: center;
    align-items:center
}*/
